# Description: Default compose file, with host port for musicbrainz

volumes:
  mqdata:
    driver: local
  pgdata:
    driver: local
  solrdata:
    driver: local
  dbdump:
    driver: local
  solrdump:
    driver: local

services:
  db:
    build:
      context: build/postgres-prebuilt
    image: musicbrainz-docker_db:${POSTGRES_VERSION:-16}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    restart: unless-stopped
    command: postgres -c "shared_buffers=6GB" -c "shared_preload_libraries=pg_amqp.so"
    env_file:
      - ./default/postgres.env
    shm_size: "2GB"
    volumes:
      - pgdata:/var/lib/postgresql/data
    expose:
      - "5432"

  musicbrainz:
    build:
      context: build/musicbrainz
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "50"
    ports:
      - "${MUSICBRAINZ_DOCKER_HOST_IPADDRCOL:-}${MUSICBRAINZ_WEB_SERVER_PORT:-5000}:5000"
    volumes:
      - dbdump:/media/dbdump
      - solrdump:/var/cache/musicbrainz/solr-backups:ro
    restart: unless-stopped
    env_file:
      - ./default/postgres.env
    environment:
      - MUSICBRAINZ_BASE_FTP_URL=${MUSICBRAINZ_BASE_FTP_URL:-}
      - MUSICBRAINZ_BASE_DOWNLOAD_URL=${MUSICBRAINZ_BASE_DOWNLOAD_URL:-https://data.metabrainz.org/pub/musicbrainz}
      - MUSICBRAINZ_SERVER_PROCESSES=${MUSICBRAINZ_SERVER_PROCESSES:-10}
      - MUSICBRAINZ_USE_PROXY=1
      - MUSICBRAINZ_WEB_SERVER_HOST=${MUSICBRAINZ_WEB_SERVER_HOST:-localhost}
      - MUSICBRAINZ_WEB_SERVER_PORT=80
    depends_on:
      - db
      - mq
      - search
      - redis

  indexer:
    build: 
      context: build/sir
    env_file:
      - ./default/postgres.env
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    volumes:
      - ${SIR_CONFIG_PATH:-./default/indexer.ini}:/code/config.ini
    depends_on:
      - db
      - mq
      - search

  search:
    build:
      context: build/solr
      args:
        - MB_SOLR_VERSION=${MB_SOLR_VERSION:-4.1.0}
    image: musicbrainz-docker_search:${MB_SOLR_VERSION:-4.1.0}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    restart: unless-stopped
    environment:
      - SOLR_HEAP=8g
      - LOG4J_FORMAT_MSG_NO_LOOKUPS=true
    mem_swappiness: 1
    expose:
      - "8983"
    volumes:
      - dbdump:/media/dbdump:ro
      - solrdata:/var/solr
      - solrdump:/var/cache/musicbrainz/solr-backups

  mq:
    build: build/rabbitmq
    hostname: "mq"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    restart: unless-stopped
    ulimits:
      nofile: 65536
    volumes:
      - mqdata:/var/lib/rabbitmq
    expose:
      - "5672"

  redis:
    image: redis:3-alpine
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    restart: unless-stopped
    expose:
      - "6379"

  lyrics-admin:
    image: musicbrainz-docker_lyrics-admin
    build:
      context: build/lyrics-admin
      args:
        - LYRICS_ADMIN_REPO=${LYRICS_ADMIN_REPO}
    ports:
      - "7150:7150"
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_USER=musicbrainz
      - POSTGRES_PASSWORD=musicbrainz
      - POSTGRES_DB=musicbrainz_db
    depends_on:
      - db
